
.sv-slider-container {
    width:100%;
    height:400px;
    position: relative;
    background: transparent;
    overflow:hidden;
}
ul {
    width:100%;
    height:100%;
    display: block;
    overflow: hidden;
    margin:0;
    padding:0;
    position: absolute;
    left:0;
    top:0;

}

ul li {
    list-style: none;
    display: block;
    margin:0;
    padding:0;
    overflow: hidden;
    height:100%;
    float:left;
    position: relative;
}
ul li .back {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translate3d(0,0,0) scale(1.25);

}
ul li.active .back {
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: 15s transform linear, 15s -webkit-transform linear;

}
.sv-slider-container i  {
    color: #fff;
    position: absolute;
    top:175px;
    height:50px;
    width:50px;
    font-size:50px;
    opacity: .5;
    transition: opacity .3s;
    cursor:pointer;
}
.sv-slider-container i.disabled {
    display: none;
}

.sv-slider-container i:hover {
    opacity: 1;
}
.sv-slider-container i.back{
    left:10px;
}
.sv-slider-container i.fore{
    right:10px;
}
.sv-slider-container .image-title {
    color:#fff;
    padding:5px 10px;
    background-color: rgba(0,0,0,0.2);
    position:absolute;
    bottom:0;
    height: 30px;
    line-height: 30px;
    left:0;
    right:0;
    font-size:1.5em;
    text-align: center;
}
.sv-slider-container .image-text {
    color:#ccc;
    padding: 20px;
    border-radius: 20px;
    line-height: 1.4;
    background-color: rgba(0,0,0,0.2);
    position:absolute;
    bottom:50px;
    top:10px;
    width:40%;
    right:10px;
}
.sv-slider-container .image-pause {
    color:#ccc;
    position:absolute;
    bottom:-4px;
    top:auto;
    right:5px;
    z-index: 10;
}
