<div (click)="playPause()" class="sv-slider-container">
  <ul [ngStyle]="{'left': offset+'%',
                'transition': 'left '+transition_opts,
                'width':total*100+'%'}">
    <li *ngFor="let data of images" [class.active]="data.active" [ngStyle]="{'width': 100/total+'%'}">
      <div class="back" [ngStyle]="{'background-image': 'url('+data.image+')'}"></div>
      <div class="image-title">{{data.title}}</div>
      <div class="image-text">{{data.text}}</div>

    </li>
  </ul>
  <i (click)="goBack($event)" [class.disabled]="leftDisabled" class="back"> &lt; </i>
  <i (click)="goNext($event)" [class.disabled]="rightDisabled" class="fore"> &gt; </i>
  <i class="image-pause" *ngIf="pause$ | async">||</i>
</div>